# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/cache/*
/logs/*
/conf/db.init.php
/media/*
/log/*
/x4/vendor/*


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Development environment only files
conf/dev.php